<div class="wrapper">
  <div class="date_box">
    <p class="date">{{ date | date : "MMM d, y" }}</p>
  </div>
  <div class="box1">
    <h1>Complete Angular Tutorial?</h1>
    <p>
      Welcome to the Angular Tutorial. This Tutorial covers all versions of
      Angular Starting from Angular 2 to the latest editions of i.e. Angular 8,
      Angular 9 & Angular 10. We have created a simple and step by step tutorial
      for beginners to learn all the features of the Angular.
    </p>
    <div class="form_wrapper">
      <form class="form">
        <div class="form_title">
          <p>SignUp for free content</p>
        </div>
        <div class="names">
          <input type="text" class="first" placeholder="First name" />
          <input type="text" class="last" placeholder="Last name" />
        </div>
        <input type="text" class="email" placeholder="Email Address" />
        <input type="password" class="password" placeholder="Create Password" />
        <div class="btn_wrapper">
          <button mat-flat-button class="register">Register</button>
        </div>
      </form>
    </div>
  </div>

  <div class="box2">
    <div class="p_wrappers">
      <p>
        The Angular is a development platform for building a Single Page
        Application for mobile and desktop. It uses Typescript & HTML to build
        Apps. The Angular itself is written using the Typescript.
      </p>
    </div>
    <div class="box2_btn">
      <button mat-flat-button class="join">JoinToday</button>
    </div>
  </div>

  <div class="box3">
    <div class="p_wrappers">
      <p>
        The Angular is a development platform for building a Single Page
        Application for mobile and desktop. It uses Typescript & HTML to build
        Apps. The Angular itself is written using the Typescript.
      </p>
    </div>
    <div class="box3_btn">
      <button mat-flat-button class="join">JoinToday</button>
      <button mat-stroked-button class="connect">Connect us</button>
    </div>
  </div>
</div>
