<div class="wrapper">
  <p class="date"></p>
  <div class="box1">
    <h1>Complete Angular Tutorial?</h1>
    <p>
      Welcome to the Angular Tutorial. This Tutorial covers all versions of
      Angular Starting from Angular 2 to the latest editions of i.e. Angular 8,
      Angular 9 & Angular 10. We have created a simple and step by step tutorial
      for beginners to learn all the features of the Angular.
    </p>
    <div class="form_wrapper">
      <form class="form">
        <p>SignUp for free content</p>
        <input type="text" class="input_name" placeholder="First name" />
        <input type="text" class="input_name" placeholder="Last name" />
        <input type="text" class="email" placeholder="Email Address" />
        <input type="password" class="password" placeholder="Create Password" />
        <button mat-flat-button class="register">Register</button>
      </form>
    </div>
  </div>
  <div class="box2">
    <p>
      The Angular is a development platform for building a Single Page
      Application for mobile and desktop. It uses Typescript & HTML to build
      Apps. The Angular itself is written using the Typescript.
    </p>
  </div>
  <div class="box3">
    <p>
      The Angular is a development platform for building a Single Page
      Application for mobile and desktop. It uses Typescript & HTML to build
      Apps. The Angular itself is written using the Typescript.
    </p>
    <button mat-flat-button class="join">JoinToday</button>
    <button mat-stroked-button class="connect">Connect us</button>
  </div>
</div>
